[Desktop Entry]

Type=Application
Version=1.0
Name=zMail
Comment=Terminal wrapper around alot and friends
Path=/home/leonard/mail
Exec=zmail
Icon=/home/leonard/.local/share/icons/zmail.png
